<ion-view title="குயில் 1" id="page15">
  <ion-content padding="true" class="has-header">
    <button id="1-button9" class="button button-positive button-large button-block">குயில் இனிமையாகக் கூவும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="1-button11" class="button button-royal button-large button-block">காலையில் குயில் கூவும் ஓசை கேட்டது.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="1-button12" class="button button-calm button-large button-block">கருங்குயில் கூவியது.</button>
  </ion-content>
</ion-view>