<ion-view title="எலி 1" id="page17">
  <ion-content padding="true" class="has-header">
    <button id="13-button15" class="button button-positive button-large button-block">எலி வீட்டில் கீச்சிடும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="13-button16" class="button button-royal button-large button-block">பூனைக்குக் கீச்சிடும் எலி எதிரி.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="13-button17" class="button button-calm button-large button-block">எலியின் வால் நீலமாக இருக்கும்.</button>
  </ion-content>
</ion-view>