<ion-view title="வண்டு 1" id="page25">
  <ion-content padding="true" class="has-header">
    <button id="14-button28" class="button button-positive button-large button-block">வண்டு பூந்தோட்டத்தில் முரலும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="14-button29" class="button button-royal button-large button-block">வண்டு பூக்களிடையே தேன் எடுக்கும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="14-button30" class="button button-calm button-large button-block">வண்டுகள் பல வண்ணங்களில் இருக்கும்.</button>
  </ion-content>
</ion-view>