<ion-view title="காகம் 1" id="page28">
  <ion-content padding="true" class="has-header">
    <button id="15-button35" class="button button-positive button-large button-block">காகம் சத்தமாக கரையும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="15-button36" class="button button-royal button-large button-block">காகம் கருமை நிரத்தில் இருக்கும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="15-button37" class="button button-calm button-large button-block">காகம் மரத்தின் மீது கூடு கட்டி வாழும்.</button>
  </ion-content>
</ion-view>