<ion-view title="மயில் 1" id="page32">
  <ion-content padding="true" class="has-header">
    <button id="16-button40" class="button button-positive button-large button-block">மயில் அழகான குறலால் அகவும்.</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="16-button41" class="button button-royal button-large button-block">மயிலின் தோகை அழகாக இருக்கும்..</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <button id="16-button42" class="button button-calm button-large button-block">மயில் தோகையை விரித்து நடனம் ஆடும்.</button>
  </ion-content>
</ion-view>