<ion-view title="பயிற்சி 1" id="page36" style="background-color:#C850D1;">
  <ion-content padding="true" class="has-header">
    <button id="17-button47" style="font-weight:500;" class="button button-assertive button-block">பொருத்தமான இணையைத் தேர்ந்தெடுத்திடுக.</button>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <button id="17-button48" class="button button-dark button-block">1. குயில்</button>
    <div id="17-button-bar1" class="button-bar">
      <a ui-sref="page38()" id="17-button52" class="button button-balanced button-block">அகவும்</a>
      <a ui-sref="page37()" id="17-button53" class="button button-balanced button-block">கூவும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="17-button57" class="button button-dark button-block">2. வண்டு</button>
    <div id="17-button-bar2" class="button-bar">
      <a ui-sref="page37()" id="17-button62" class="button button-positive button-block">முரலும்</a>
      <a ui-sref="page38()" id="17-button63" class="button button-positive button-block">கீச்சிடும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="17-button65" class="button button-dark button-block">3. எலி</button>
    <div id="17-button-bar3" class="button-bar">
      <a ui-sref="page38()" id="17-button66" class="button button-energized button-block">கரையும்</a>
      <a ui-sref="page37()" id="17-button67" class="button button-energized button-block">கீச்சிடும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="17-button69" class="button button-dark button-block">4. காகம்</button>
    <div id="17-button-bar4" class="button-bar">
      <a ui-sref="page37()" id="17-button70" class="button button-assertive button-block">கரையும்</a>
      <a ui-sref="page38()" id="17-button71" class="button button-assertive button-block">முரலும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="17-button73" class="button button-dark button-block">5. மயில்</button>
    <div id="17-button-bar5" class="button-bar">
      <a ui-sref="page38()" id="17-button74" class="button button-balanced button-block">அலறும்</a>
      <a ui-sref="page37()" id="17-button75" class="button button-balanced button-block">அகவும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="17-button77" class="button button-dark button-block">6. ஆந்தை</button>
    <div id="17-button-bar6" class="button-bar">
      <a ui-sref="page38()" id="17-button78" class="button button-calm button-block">முரலும்</a>
      <a ui-sref="page37()" id="17-button79" class="button button-calm button-block">அலறும்</a>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
  </ion-content>
</ion-view>