<ion-view title="பயிற்சி 2" id="page35" style="background-color:#A1E3E6;">
  <ion-content padding="true" class="has-header">
    <button id="27-button46" style="font-weight:500;" class="button button-positive button-block">கொடுக்கப்பட்ட ஒலிமரபுச் சொற்களைக் கொண்டு பயிற்சி புத்தகத்தில் வாக்கியம் அமைத்திடுக.</button>
    <ion-list id="27-list3">
      <ion-item class="energized" id="27-list-item10">1. குயில் - கூவும்</ion-item>
      <ion-item class="energized" id="27-list-item11">2. சேவல் - கொக்கரிக்கும்</ion-item>
      <ion-item class="energized" id="27-list-item12">3. எலி - கீச்சிடும்</ion-item>
    </ion-list>
    <ion-list id="27-list4">
      <ion-item class="energized" id="27-list-item13">4. வண்டு - முரலும்</ion-item>
      <ion-item class="energized" id="27-list-item14">5. காகம் - கரையும்</ion-item>
      <ion-item class="energized" id="27-list-item15">6. மயில் - அகவும்</ion-item>
    </ion-list>
  </ion-content>
</ion-view>