<ion-view title="பயிற்சி " id="page34" style="background-color:#A1E3E6;">
  <ion-content padding="true" style="background: url(img/a5vdiX9YT7Kgyp7dNknE_forest-animals-color-flat-icons-set-web-mobile-design-forest-animals-color-flat-icons-set-116002404.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="page34-list5">
      <ion-item class="dark" id="page34-list-item16" ui-sref="17()">பயிற்சி 1</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="page34-list6">
      <ion-item class="dark" id="page34-list-item17" ui-sref="27()">பயிற்சி 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>