<ion-view title="குயில்" id="page13" style="background-color:#410AE3;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/p19H0GOjSKlFf7ZbGRZ9_Picture3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 29.9861px;"></div>
    <div style="margin-right:-20px;">
      <button id="page13-button7" style="left:-10px;" class="button button-balanced button-large button-full">குயில் - கூவும்</button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="1()" id="page13-button8" style="left:-10px;" class="button button-assertive button-large button-full">வாசித்துப் பழகு!</a>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="2()" id="page13-button19" style="left:-10px;" class="button button-royal button-large button-full">காணொளி</a>
    </div>
  </ion-content>
</ion-view>