<ion-view title="மயில்" id="page30" style="background-color:#410AE3;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/bOmv518Qs2ZfyFD2YTlQ_Picture5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 29.9861px;"></div>
    <div style="margin-right:-20px;">
      <button id="page30-button31" style="left:-10px;" class="button button-balanced button-large button-full">மயில் - அகவும்</button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="16()" id="page30-button38" style="left:-10px;" class="button button-assertive button-large button-full">வாசித்துப் பழகு!</a>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="26()" id="page30-button39" style="left:-10px;" class="button button-calm button-large button-full">காணொளி</a>
    </div>
  </ion-content>
</ion-view>