<ion-view title="எலி" id="page22" style="background-color:#410AE3;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xpCksa3gQQ6xPVHGDovS_Picture1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 29.9861px;"></div>
    <div style="margin-right:-20px;">
      <button id="page22-button24" style="left:-10px;" class="button button-balanced button-large button-full">எலி - கீச்சிடும்</button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="13()" id="page22-button25" style="left:-10px;" class="button button-assertive button-large button-full">வாசித்துப் பழகு!</a>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="23()" id="page22-button26" style="left:-10px;" class="button button-calm button-large button-full">காணொளி</a>
    </div>
  </ion-content>
</ion-view>