<ion-view title="மிருகங்கள்" id="page12">
  <ion-content padding="true" style="background: url(img/uhrTEZksSKXjUba9TbsA_forest-animals-color-flat-icons-set-web-mobile-design-forest-animals-color-flat-icons-set-116002404.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page33()">
        <img src="img/rvhjqXsxT0uCDJ2XWFwl_GrouchyGloriousAphid-small.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page33()" id="page12-button43" class="button button-dark button-block">வாருங்கள் கற்போம்</a>
    <div>
      <a style="display:block;" ui-sref="page34()">
        <img src="img/EIF0FS26ye8I502AATTJ_2tZgdK9.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page34()" id="page12-button44" class="button button-dark button-block">பயிற்சி செய்வோம்</a>
  </ion-content>
</ion-view>